.title {
    font-family: 'Cinzel', serif;
    text-align: center;
    position: relative; 
    margin: 20px 0; 
    padding: 0; 
    color: rgb(56, 97, 67);
    font-size: 3em;
    font-weight: bold;
}

.title::before,
.title::after {
    content: "";  
    position: absolute;
    width: 30%; 
    height: 2px; 
    background-color: rgb(56, 97, 67);
    top: 50%;  
}

.title::before {
    left: 0; 
    margin-left: 5%; 
}
.title::after {
    right: 0;
    margin-right: 5%;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(56, 97, 67);
    border-radius: 15px;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.input-text::placeholder{
    font-family: 'Lora', serif;
}
.input-box {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-box input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    transition: border 0.3s ease;
}

.input-box input:focus {
    border-color: rgb(246, 249, 240);
}

.input-box .search {
    background-color: rgb(246, 249, 240);
    color: rgb(56, 97, 67);
    border: none;
    padding: 10px 15px;
    margin-left: 10px;

    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.input-box .search:hover {
    background-color: rgb(56, 97, 67);
    transform: scale(1.05);
}

.container-clima {
    text-align: center;
}

#temperatura{
    color:rgb(246, 249, 240);
    font-family: 'Lora', serif;
}

#descripcion{
    color:rgb(246, 249, 240);
    font-family: 'Lora', serif;
}

#countdown{
    color:rgb(246, 249, 240);
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 36px;;
}

.holidays {
    color: rgb(246, 249, 240);
    font-family: 'Lora', serif;
    text-align: left;
    font-size: 14px; 
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
}

.holidays div {
    flex: 1 0 200px;
}

.getImagesButton {
    background-color: rgb(56, 97, 67);
    color: rgb(246, 249, 240);
    border: none;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.getImagesButton:hover {
    background-color: rgb(246, 249, 240);
    transform: scale(1.05);
}
